.header_part{
    background:#312e2e;
    padding: 10px 60px;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
}
.header_part h2{
    color: #fff;
    padding: 20px;
}
.header_part,h2,.icon{
    size:900px;
    color: #fff;
}
.iconS{
    color: #306230;
    size: 2rem;
}
.iconss{
    color: rgb(224, 230, 224);
    gap:2rem 2rem;
}
.header_part img{
    float: left;
    height: 60px;
    border-radius: 50%;
}
.data_table{
    background:#84e784;
    color: #1b1b1b;
    padding: 10px;
    box-shadow: 1px 3px 5px #d8cccc;
    border-radius: 10px;
    margin: 0 auto;
}